<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sumit Saha" />
    <meta name="owner" content="learnwithsumit.com" />
    <title>Inbox</title>
    <link rel="shortcut icon" href="./images/favicon.png" />
    <link rel="stylesheet" href="./stylesheets/toastify.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <style>
     
    </style>
    <script src="./js/toastify.js"></script>
  </head>
  <body>
    <%- include('./common/projectRouters.ejs') %>
    
    <!-- Search User-->
    <div id="chat-container">
      <div id="search-container" >
        <input type="text" id="search-user" placeholder="Search" style="min-width: 100px;"/>
      </div>

      <!-- Conversation users list -->
      <div id="conversation-list">
      <% conversation.forEach((data)=> {%>
        <div id="conversation-user-list" onclick="chatMessageHandle('<%= data.perticipantId %>')" class="conversation active">
          <img src="./images/user1.png" alt="Sumit" />
          <div class="title-text"><%= data.perticipantId  %>></div>
          <di class="created-date"> Apr 16 </di>
          <div class="conversation-message">This is a message</div>
        </div>
      <% }) %>
      </div>

      <!--Add new conversation user-->
      <div id="new-message-container">
        <a href="#" id="createNewConversation" title="Serach users" style="width:50px;color:rgba(255, 228, 196, 0.479);font-size:4rem;position: absolute;left:clamp(35%,300px);bottom:40px;padding-left: 20px;">+</a>
      </div>

      <div id="chat-title">
        <span>Sumit</span>
        <img src="./images/trash.png" alt="Delete Conversation" />
      </div>

      <!--user message area-->
      <% if (chat=== null){ %> 
      <div id="chat-message-list"style="display: flex;justify-content: center;align-items: center;">
        <p style="color: rgba(255, 228, 196, 0.479);font-size: 30px;font-weight: 500;" >Select any user</p>
      </div>
     <% } %>
      <div id="chat-message-list">
        
      </div>
      
      <!--chat message type and sendbox -->
      <form id="chat-form" 
        action="/inbox/chat/sendMessage"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="text" id="chat-input" name="chatmessage" type="text" placeholder="Type a message" />
        <input  type="file" name="chatavatar"/>
        <input id="chat-submit"  type="submit" value="send"  />
      </form>
    </div>

    <!--New conversation prompt-->
    
    <div class="modal-wrapper">
      <div class="modal">
        <a href="#" class="modal-close">+</a>
        <div class="modal-title">
          <h2>Create New Conversation</h2>
        </div>
        <div class="modal-body">
          <form >
            <input class="modal-input" id="new-Converstion-users" type="text" placeholder="Username" name="username" />
            <input class="modal-submit" title="<%=userObject.email%>" id="create-new-Converstion" type="submit"  value="Submit" />
            <div id="modal-list">
              <li></li>
        
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div><%= conversation[1]?.perticipantId %></div>
  </body>

  <script>
    const modalClose = document.querySelector('.modal-close');
    const modalWrapper = document.querySelector('.modal-wrapper');
    const modalList = document.querySelector('#modal-list');
    const searchUser = document.querySelector('#search-user');
    const chatForm = document.querySelector('#chat-form');
    const displayNewConversation = document.querySelector('#new-message-container');
    const newConverstionUsers = document.querySelector('#new-Converstion-users');
    const createNewConversation = document.querySelector('#create-new-Converstion');
    const conversationuserlist = document.querySelector('#conversation-user-list');
    const chatSubmit = document.querySelector('#chat-submit');
    const chatInput = document.querySelector('#chat-input');
    const chatMessageList = document.querySelector('#chat-message-list');
    
    let withCoversationId = '';
  

    //add new modal form display
    displayNewConversation.addEventListener('click',()=>{
      modalWrapper.style.display = 'block';
    })
    //modal wrapper form close
    modalClose.addEventListener('click',()=>{
      modalWrapper.style.display = 'none'
    })
    
    //finds available users for conversation
    newConverstionUsers.addEventListener('keyup', async (e)=>{
      
      withCoversationId = e.target.value
      
      setTimeout(async () => {
      try{
        const data = await fetch(`inbox/${e.target.value}`,{
        method:'POST'
        });
        const dataJson = await data.json();
        const datalength = Object.keys(dataJson.findUser) ? Object.keys(dataJson.findUser) : 0 ; 
        if(datalength?.length > 0){
        //create avaiable users 
          const mapList = dataJson.findUser.map((data)=>{
            
            return "<li id='listClick'>"+data.name+"</li>"
          })
          modalList.innerHTML = mapList ;
        }
      }
      catch(err){
        console.log(err)
      }
      
      }, 500);
      
    });

    //create a users for conversation
    createNewConversation.addEventListener('click',async (e)=>{
      e.preventDefault();
      await fetch(`/inbox/newConversion/${createNewConversation.title}/${withCoversationId}`,{
        method : 'POST',
      })
      console.log(createNewConversation.title)
    });

    //select user chats
    async function chatMessageHandle (perticipentId) {
      chatForm.style.visibility = 'visible' ;
      chatSubmit.title=perticipentId
      console.log(chatForm)
      console.log(conversationuserlist.title)
      await fetch('/inbox/chat',{
        method : 'POST',
        body : JSON.stringify({
          perticipentId : perticipentId
        }),
        headers :{
          "Content-type" : "application/json" 
        }
      })
      .then(async (data)=>{
        const dataJSON = await data.json();
        console.log(dataJSON);
        jsxData = []
        dataJSON.chat.forEach(element => {
          
        jsxData.push(`<div class='message-row other-message'><div class='message-content'> <img src="./uploads/chatAvatar/${element.avatar}" alt='Sumit' /><div class='message-text'>${element.message}</div><div class='message-time'>Apr 16</div></div></div>`)
        // <div class="message-row you-message">
        //   <div class="message-content">
        //     <div class="message-text">Lorem ipsum dolor sit amet</div>
        //     <div class="message-time">Apr 16</div>
        //   </div>
        // </div>
        });
        chatMessageList.innerHTML = jsxData;
        console.log(jsxData);
      })
      .catch((err)=>{console.log(err)})
    }
    
   
    //send new chats in database
    chatSubmit.addEventListener("click",async (e)=>{
      e.preventDefault();
      const formData =  new FormData(chatForm);
      formData.append('participentId',chatSubmit.title)
      await fetch('/inbox/chat/sendMessage',{
        method : 'POST',
        body : formData
      },
      )
      //console.log(chatInput.value,chatSubmit.title);
      
     })

    
  </script>
</html>
