<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sumit Saha" />
    <meta name="owner" content="learnwithsumit.com" />
    <title>Title</title>
    <link rel="shortcut icon" href="./images/favicon.png" />
    <link rel="stylesheet" href="./stylesheets/toastify.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="./js/toastify.js"></script>
  </head>
  <body>
    <%- include('./common/projectRouters.ejs') %>
    
    <div class="manageUser-container">
      <div id="title">
        <h2>Manage Users</h2>
      </div>

      <div class="new-message-container new-user">
        <a href="#" onclick="openModal()">+</a>
      </div>

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="users-table">
            <% users.forEach((user)=>{ %>
            <tr id="<% user._id %>">
              <td class="name">
                <% if(user.avatar){%>
                  <img src="./uploads/avatars/<%= user.avatar %>" />
                <% }else{ %>
                  <img src="./images/user1.png" />
                <% } %>
                <span><%= user.name %></span>
              </td>
              <td><%= user.email %></td>
              <td class="manage">
                <img src="./images/trash.png" onclick="deleteHandle('<%= user._id %>')" alt="Delete" />
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    
    <%- include('./partials/userPartial.ejs')%>
    <script>
      
      async function deleteHandle(userId){
        const response = await fetch(`/users/${userId}`,{
          method : 'DELETE',
        })
        const responeJson = await response.json();
        console.log(responeJson);

        //secess message and rerender
        if(responeJson.message){
          Toastify({
          text : "Successfully Deleted",
          duration : 1000,
          position : "center"
        }).showToast();
        
          setTimeout(()=>{
            location.reload();
          },1000);
        }

      }
    </script>
  </body>
</html>
